<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PHONE_SALE.Properties.Settings.PHONE_SALEConnectionString"
            connectionString="Data Source=DESKTOP-9PD212P\SQLEXPRESS;Initial Catalog=PHONE_SALE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>